body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fizz, .wizz
{
 color: blue;
}

.buzz, .wuzz
{
color: green;
}

.display-4
{
  text-align: center;
}

.error
{
  width: 30%;
  text-align: center;
  margin: 2px auto;
  color: red;
}